#menu>ul {
    list-style: none;
    padding-left: 16px;
    margin-top: 8px;
}

#menu {
    position: fixed;
    left: 16px;
    top: 16px;
    width: 160px;
}

#main {
    margin-left: 160px;
}

body {
    margin-top: 16px;
}



h1 {
    margin-left: 14px;
}

h1.comicsans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 10px;
}

.form-error {
    color: red;
}

.table {
    width: 98%;
    margin-bottom: 50px;
    margin-right: 50px;
}

.footer {
    background-color: #999999;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-content {
    position: relative;
    top: 30%;
    margin-left: 20px;
}