#menu>ul {
    list-style: none;
    padding-left: 16px;
    margin-top: 8px;
}

h1.comicsans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 10px;
}

.footer {
    background-color: #999999;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-content {
    margin: 15px;
}