<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Show all Books</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div th:replace="fragments/menu :: menu">...</div>
<div id="main">
	<h1 th:text="${book.title}" id="details_title" class="comicsans">Harry Potter</h1>
	<table class="book" cellpadding="10">
	<tbody>
		<tr>
			<td>Author</td>
			<td id="details_author"th:text="${book.author}">J.K. Rowling</td>
		</tr>
		<tr>
			<td>Year</td>
			<td id="details_year" th:text="${book.yearOfPublication}">1999</td>
		</tr>
		<tr>
			<td>Edition</td>
			<td id="details_edition" th:text="${book.edition}">1</td>
		</tr>
		<tr>
			<td>ISBN</td>
			<td id="details_isbn" th:text="${book.isbn}">123456789X</td>
		</tr>
		<tr>
			<td>Description</td>
			<td id="details_description" th:text="${book.description}">Lorum Ipsum...</td>
		</tr>
		<tr>
			<td>Current borrower</td>
			<td th:text="${book.borrowing?.borrowerEmailAddress}">Mr. X</td>
		</tr>
        <tr>
            <td>Remove</td>
            <td>
                <form th:switch="${book?.borrowing}" th:action="@{/bookDetails/delete/{id}(id=${book.id})}" method="get">
                    <button th:case="null" type="submit">Remove</button>
                    <button th:case="*" type="submit" disabled>Remove</button>
                </form>
            </td>
        </tr>
	</tbody>
	</table>
	<a th:href="@{/bookList}">Back to List</a>
</div>
<div class="footer">
	<div class="footer-content"><th:block th:text="${'Application Version: ' + applicationVersion}"></th:block></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>