<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Show all Books</title>
</head>
<body>
	<table class="bookList" cellpadding="10">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>Edition</th>
			<th>ISBN</th>
			<th>Description</th>
			<th>Borrower</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="book : ${books}" >
			<td th:text="${book.title}">Harry Potter</td>
			<td th:text="${book.author}">J.K. Rowling</td>
			<td th:text="${book.yearOfPublication}">2002</td>
			<td th:text="${book.edition}">1st</td>
			<td th:text="${book.isbn}">123456</td>
			<td style="max-width:400px; white-space: pre-line; word-wrap: break-word;" th:text="${book.description}">description</td>
			<td th:text="${book?.borrowing?.borrowerEmailAddress}">someone@codecentric.de</td>
            <td>
                <form th:switch="${book?.borrowing}" th:action="@{/bookList/delete/{id}(id=${book.id})}" method="get">
			        <button th:case="null" type="submit">Remove</button>
                    <button th:case="*" type="submit" disabled>Remove</button>
                </form>
            </td>
			<td><a th:href="@{/bookDetails(id=${book.id})}">Details</a></td>

		</tr>
	</tbody>
	</table>
	<hr />
	<a th:href="@{/}">Back to Home</a>
	<br><th:block th:text="${'Application Version: ' + applicationVersion}"></th:block>
</body>
</html>