<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"><head>
<title>Add Book - Worblehat Bookmanager</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>

<div th:replace="fragments/menu :: menu">...</div>
<div id="main">
	<h1 class="comicsans">Add Book</h1>

	<div class="container-fluid" style="max-width: 600px; margin-left: 0 !important;">
		<form th:object="${bookDataFormData}" method="POST">

			<div class="form-group row">
				<label for="title" class="col-sm-2 col-form-label">Title</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" th:field="*{title}">
					<span class="error form-error" id="title-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
			</div>

			<div class="form-group row">
				<label for="edition" class="col-sm-2 col-form-label">Edition</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="edition"  th:field="*{edition}">
					<span class="error form-error" id="edition-error" th:if="${#fields.hasErrors('edition')}" th:errors="*{edition}"></span>
				</div>
			</div>

			<div class="form-group row">
				<label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="isbn" th:field="*{isbn}">
					<span class="error form-error" id="isbn-error" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
				</div>
			</div>

			<div class="form-group row">
				<label for="author" class="col-sm-2 col-form-label">Author</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="author"  th:field="*{author}">
					<span class="error form-error" id="author-error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
				</div>
			</div>

			<div class="form-group row">
				<label for="year" class="col-sm-2 col-form-label">Year of Publication</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="yearOfPublication" th:field="*{yearOfPublication}" >
					<span class="error form-error" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}"></span>
				</div>
			</div>

			<div class="form-group row">
				<label for="desc" class="col-sm-2 col-form-label">Description</label>
				<div class="col-sm-10">
					<textarea class="form-control" th:field="*{description}" rows="4" cols="50" id="desc" />
					<span class="error form-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
				</div>
			</div>


			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary" id="addBook">Add Book</button>
				</div>
			</div>
		</form>
	</div>
</div>
	<div class="footer">
	<div class="footer-content"><th:block th:text="${'Application Version: ' + applicationVersion}"></th:block></div>
</div>

</body>
</html>
