<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Show all Books</title>
</head>
<body>
	<table class="bookList">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>Edition</th>
			<th>ISBN</th>
			<th>Borrower</th>
			<th>Return Date</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="borrowing : ${borrowings}">
			<td th:text="${borrowing.borrowedBook.title}">Harry Potter</td>
			<td th:text="${borrowing.borrowedBook.author}">J.K. Rowling</td>
			<td th:text="${borrowing.borrowedBook.yearOfPublication}">2002</td>
			<td th:text="${borrowing.borrowedBook.edition}">1st</td>
			<td th:text="${borrowing.borrowedBook.isbn}">123456</td>
			<td th:text="${borrowing.borrowerEmailAddress}">someone@codecentric.de</td>
			<td th:text="${borrowing.returnDate}">someone@codecentric.de</td>
		</tr>
	</tbody>
	</table>
	<hr />
	<a th:href="@{/}">Back to Home</a>
	<br><th:block th:text="${'Application Version: ' + applicationVersion}"></th:block>
</body>
</html>